name: "publish@main: Build and Release"

on:
  workflow_call:
  workflow_dispatch:

jobs:
  publish:
    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          submodules: "recursive"
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v3
        with:
          version: 8

      - name: Setup Node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Build
        run: |
          pnpm install --frozen-lockfile
          pnpm run build

      - name: Generate the release tag
        run: |
          echo "release_tag=$(date +%Y.%m.%d)" >> "$GITHUB_ENV"

      - name: Generate the changelog
        uses: orhun/git-cliff-action@1199a3c11df7d17b37c84c2f5daa6d773716177a # v3
        id: git-cliff
        with:
          args: -vv --unreleased --tag=${{ env.release_tag }} --strip=header

      - name: Release
        uses: softprops/action-gh-release@69320dbe05506a9a39fc8ae11030b214ec2d1f87 # v2
        with:
          tag_name: ${{ env.release_tag }}
          body: ${{ steps.git-cliff.outputs.content }}
          files: |
            dist/autoload.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Cleanup Old Releases
        uses: dev-drprasad/delete-older-releases@dfbe6be2a006e9475dfcbe5b8d201f1824c2a9fe
        with:
          keep_latest: 3
          delete_tags: true # defaults to false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
