name: "publish@watcher: Monitor if need to publish"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update-variable:
    runs-on: ubuntu-latest
    steps:
      - name: update
        if: ${{ vars.SHOULD_PUBLISH == 'false' &&
          (startsWith(github.event.head_commit.message, 'refactor') ||
          (startsWith(github.event.head_commit.message, 'fix') && !startsWith(github.event.head_commit.message, 'fixup!')) ||
          startsWith(github.event.head_commit.message, 'feat') ||
          (startsWith(github.event.head_commit.message, 'chore') && (startsWith(github.event.head_commit.message, 'chore(deps):\ bump core-js') || !startsWith(github.event.head_commit.message, 'chore(deps')) && !startsWith(github.event.head_commit.message, 'chore(github'))) }}
        uses: action-pack/set-variable@7e83925d7208bd6cb661b4fbc466df673bbae825 # v1
        with:
          name: "SHOULD_PUBLISH"
          value: "true"
          token: ${{ secrets.VARIABLE_ASSIGNMENT }}
